<!-- 计算页面 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算页面</title>
</head>
    <body>
        <form method="POST" action="/cal/">
            {% csrf_token %}

            <label for="valueA">数字 A:</label>
            <input type="number" name="valueA" >    
            +
            <label for="valueB">数字 B:</label>
            <input type="number" name="valueB" >
            <br>
            <button type="submit">计算</button>
        </form>
    </body>
</html>
